.gradientt {
  background: radial-gradient(
    91.73% 55.65% at 26.19% 54.07%,
    #363687 4.27%,
    #0A0E12 79.25%
  );
  max-width: 100%;
  height: 100%;
}

.services-gradient {
  background: radial-gradient(
    60.98% 32.23% at 20.79% 25.66%,
    #282853 4.27%,
    #0A0E12 79.25%
  );
  max-width: 100%;
  height: 100%;
}

.choose-us-gradient {
  max-width: 100%;
  height: 100%;
  background: linear-gradient(
    149deg,
    #5454d4 8.87%,
    rgba(29, 29, 50, 0) 73.47%
  );
}

.tools-gradient {
  max-width: 100%;
  height: 100%;
  background: radial-gradient(
    55.96% 37.63% at 50.04% 45.83%,
    #282853 4.27%,
    #262648 10.05%,
    #0A0E12 79.25%
  );
}
